body
    div#wrap
        header
            h1 #{name}
            .line <i>Software Developer • 30 y.o.</i>
            .line <i>Tbilisi, Georgia, UTC+4</i>
            .line.links
                .link Tg <a href="https://t.me/starina_biba">@starina_biba</a>
                .link <a href="mailto:emile@shodiev.ru">emile@shodiev.ru<a>
                .link <a href="https://www.linkedin.com/in/emile-shodiev/">LinkedIn</a>
                .link <a href="https://github.com/flerokoo">GitHub</a>
        hr
        content
            h2 Summary
            p I am a software developer with more than 10 years of extensive experience in a variety of fields.
                |  Utilizing my knowledge of computer science I've designed and implemented innovative, high-performance
                |  and easy-to-support applications.
            p I continuously learn and try to find out new things about technology and world.
                |  Functional programming, virtual reality, generative art and game jam enthusiast.
            p <span class="kw">Keywords: </span>
                each val in ["Software Architecture", "Javascript", "Typescript", "C#", "Node", "WebGL", "GLSL/HLSL", "Unity", "SQL", "Git", "Docker", "HTML/CSS/React", "ActionScript", "CI/CD"]
                    span.keyword= val
            h2 Education
            ul.edu.padded
                li
                    div.item-name <i>Bauman Moscow State Technical University</i><br/>
                        | Nuclear engineering, Master’s degree
                    div.item-time Moscow, Russia 2011-2017
                    .clear
            .unbreakable
                h2 Technical experience highlights
                div.tech-exp
                    .col2
                        ul.dashed
                            li Javascript – 9 years
                            li Typescript – 3½ years
                            li C# – 3 years
                            li Node – 4 years
                    .col2
                        ul.dashed
                            li Unity – 3 years
                            li WebGL/GLSL - 2 years
                            li Front-end (html, css, react) – 2 years
                    .clear
            .unbreakable
                h2 Work experience (about #{formatDateYM(new Date(2013, 1, 1))} total)
                .job-exp
                    .job
                        .job__role <b>Game Developer</b> @ self-founded studio
                        .job__time Apr 2013 – Dec 2017 (#{formatDateYM(new Date(2013, 3, 15), new Date(2017, 11, 15))})
                        .job__descr During my student years, I secured my first position working with globally recognized
                            |  companies such as SPIL Games, Armor Games and MINICLIP. I successfully developed multiple
                            |  commercially successful games using HTML5 and Flash technology,<br/>
                            p <span class="kw print-only">Keywords: </span>
                                each val in ["ActionScript 3", "Flash", "HTML5", "Javascript", "WebGL"]
                                    span.keyword= val
                    .job
                        .job__role <b>Software Engineer</b> @ Infomediji d.o.o
                        .job__time Apr 2018 – Feb 2021 (#{formatDateYM(new Date(2018, 3, 15), new Date(2021, 2, 15))})
                        .job__descr I was responsible for developing, testing and supporting a web-based application
                            |  which is used for searching and playing VR videos on both mobile and desktop platforms with
                            |  or without official WebVR/WebXR spec implementation.<br/>
                            p <span class="kw print-only">Keywords: </span>
                                each val in ["Javascript", "React", "WebXR", "WebGL", "Webpack", "Node", "MongoDB", "Three.js"]
                                    span.keyword= val
                    .job
                        .job__role <b>Software Developer</b> @ Lion Studios / Azur Games / MOONEE
                        .job__time Apr 2021 – Mar 2022 (#{formatDateYM(new Date(2021, 3, 1), new Date(2022, 2, 15))})
                        .job__descr Working as a software developer with multiple international companies,
                            |  I had the opportunity to lead the development of several
                            |  successful mobile games. Working primarily with Unity, C#, and HLSL, I managed to bring
                            |  innovative and engaging gaming experiences to life.
                            p <span class="kw print-only">Keywords: </span>
                                each val in ["C#", "Unity", "HLSL", "Typescript"]
                                    span.keyword= val
                    .job
                        .job__role <b>Software Engineer</b> @ Bee Creator
                        .job__time Mar 2022 – July 2023 (#{formatDateYM(new Date(2022, 3, 1), new Date(2023, 4, 15))})
                        .job__descr In my most recent position, I employed Unity/C# on client-side, and Typescript/Node/SQL/Nakama on
                            |  server-side to develop complex high-load realtime multiplayer games. In addition, I had the exciting opportunity to explore
                            |  and experiment with emerging technologies such as Virtual Reality (VR) and web3
                            p <span class="kw print-only">Keywords: </span>
                                each val in ["C#", "Unity", "Typescript", "SQL", "Node", "Nakama", "HLSL", "React"]
                                    span.keyword= val
            hr(style="margin-top: 2em;")
            .unbreakable
                .no-print(style="text-align: right;") <a href="resume.pdf">Download</a> as PDF
                .print-only
                    .col2
                        h2 Links
                        ul
                            li <a href="https://linkedin.com/in/emile-shodiev/">https://linkedin.com/in/emile-shodiev/</a>
                            li <a href="https://github.com/flerokoo">https://github.com/flerokoo</a>
                    .col2
                        h2 Web version of this file
                        p <a href="https://flerokoo.github.io/docs/resume.html">https://flerokoo.github.io/docs/resume.html</a>
